<!DOCTYPE html>
<html>
<head>
	<title>Vsc Chat</title>
    <% include links.ejs %>
</head>
<body style="background:white;">
<section id="wrapper" class="error-page" style="margin-top: 100px">
<center>
        <div class="error-box" style="padding: 30px;">
            <div class="error-body text-center" >
                <h1 class="text-danger">404</h1>
                <h3 class="text-uppercase">Page Not Found !</h3>
                <p class="text-muted m-t-30 m-b-30">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
                <img src="dist/img/404.png">
                
                <div class="error-right">
                <a href="/" class="btn btn-danger btn-rounded waves-effect waves-light m-b-40">Go Back</a>
                </div>
            <!-- <footer class="footer text-center">2017 © Ample Admin.</footer> -->
        </div>
        </div>
        </center>
    </section>

    <% include script.ejs %>
</body>
</html>